* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
/* SHARED STYLE */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.btn {
  background-color: #469165;
  border: none;
  padding: 12.5px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
}

/* MAIN STYLING  */

nav {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 32px;
}
nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
 nav .nav-logo {
  margin-top: 16px;
 }